#It suggest that all files with .exe extension will be ignored of being tracked
*.exe

top_secret/
#It suggest that any files or folder or the top_secret directory itself will not be tracked

danger.txt
#foul.txt    #eleiminated from being tracked
#It suggest that the file dangr.txt and foul,txt will be ignore

foul.txt 
#once again eliminated from being track
